<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link href="/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} posts" />

    <link rel="stylesheet" type="text/css" href="style.css"/>

    {% include mathjax.html %}
</head>

<body>
<div id="wrapper">
    <header id="section_A">
        <div id="header_logo">
            <img src="logo-static-blue.svg">
            <div>
                <h1>neurocat</h1>
                <p>upgrade perception</p>
            </div>
        </div>
        <div id="menu">
            <ul>
                <li><a href="">Our Work</a></li>
                <li><a href="">Service</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">News</a></li>
                <li><a href="https://neurocats.github.io/">Blog</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>
    </header>
</div><!-- end wrapper-->
</body>