<header class="site-header">

  <div id="wrapper">
    <header id="section_A">
      <div id="header_logo">
        <img src="logo-static-blue.svg">
        <div>
          <h1>neurocat</h1>
          <p>upgrade perception</p>
        </div>
      </div>
      <div id="menu">
        <ul>
          <li><a href="">Our Work</a></li>
          <li><a href="">Service</a></li>
          <li><a href="">About Us</a></li>
          <li><a href="">News</a></li>
          <li><a href="https://neurocats.github.io/">Blog</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </div>
    </header>
  </div>

</header>
